.line{

 font-family: Arial, Helvetica, sans-serif;

}
.be{


	padding-top:8px ;
	display:block;
	text-decoration:none;
	color:white;
   	margin-left:300px;
	font-size:40pt;
	 font-family: Arial, Helvetica, sans-serif;
	 	
}
.boot{

width:88px;
 float:right;
 padding-left:20px;
 padding-right: 20px;
 background-color:#063f8c;
 color:white;
 border-color:#ffffff00;
 border-radius: 5px;
 border-color:#00000026;
 height:35px;
 margin-right:5px;
  font-family: Arial, Helvetica, sans-serif;
 
}
.d{
	
    padding-top: 100px;
	margin:auto;
	width:900px;
	height:800px;
	padding-right:40px;
	padding-left:40px;
	border-radius: 10%;
	 font-family: Arial, Helvetica, sans-serif;
	
	padding-bottom:40px;
	background-color:white;
}
.par{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    margin-top: 5px;

} 

.dropdown {
  position: relative;
  display: inline-block;
  background-color:#ffffff;
  border-color:#ffffff00;
  width:288px;
  height:188px;
  float:center;
  padding-left:20px;
  padding-right: 20px; 
  color:#063f8c;
  border-radius: 5px;
  height:35px;
  margin-right:5px;
   font-family: Arial, Helvetica, sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  overflow: auto;
  border:1px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   font-family: Arial, Helvetica, sans-serif;
}
.show {display:block;}
